<h1 class="mt-5 mb-4">Add Blog</h1>


<form action="/" method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Blog title</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Blog Description</label>
        <textarea class="form-control" id="desc" name="desc" required></textarea>
    </div>
    <div class="mb-3">
        <label for="imageUrl" class="form-label">Image Url</label>
        <input type="text" class="form-control" id="imageUrl" name="imageUrl">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>